add
.DS_Store
.project
.trgtproject
.metadata/
.settings/
*.[o]
webworks-1.0.2.9.js
BB10/QrReader/public/json_reader.cpp

BB10/QrReader/Device-Debug/libQrReader.so

BB10/QrReader/public/json_internalarray.inl

BB10/QrReader/public/json_batchallocator.h

BB10/QrReader/public/json_internalmap.inl

BB10/QrReader/public/json_valueiterator.inl

BB10/QrReader/public/json_value.cpp

BB10/QrReader/Device-Debug/libQrReader.so

BB10/QrReader/public/json_writer.cpp

BB10/QrReader/Device-Debug/libQrReader.so

BB10/QrReader/Device-Debug/libQrReader.so
